.page-link {
    padding: 0.594rem 0.35rem;
    min-width: calc(1.938rem + 0px);
    font-size: 0.75rem;
    line-height: 1;
}

.table_info {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
    color: #a5a3ae !important;
}

.sortable {
    cursor: pointer;
}


/* .select-custom > .select2-container {
    z-index: 99999;
} */

.required {
    color: red;
}

.swal2-cancel {
    color: #ea5455 !important;
    border-color: transparent !important;
    background: #fce4e4 !important;
}

.swal2-confirm {
    color: #fff !important;
    background-color: #6EC5F6 !important;
    border-color: #6EC5F6 !important;
}

.swal2-html-container {
    margin-top: 0px !important;
    margin-bottom: 0.5rem !important;
}

.swal2-title {
    margin-top: 0.25rem !important;
    margin-bottom: 0px !important;
}

body {
    overflow-x: hidden;
}

.input-group:focus-within {
    box-shadow: unset !important;
}

.v-invalid-feedback,
.custom-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.8125rem;
    color: #ea5455;
}

.swal2-icon .swal2-icon-content {
    font-size: 4rem !important;
}

.swal2-icon {
    width: 60px !important;
    height: 60px !important;
}

.btn-link-primary{
    color: white!important;
}
.btn-primary {
    color: #fff;
    background-color: #6EC5F6;
    border-color: #6EC5F6;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #6EC5F6 !important;
    border-color: #6EC5F6 !important;
}
.page-item>.page-link.active {
    border-color: #6EC5F6;
    background-color: #6EC5F6;
    color: #fff;
}
.bg-menu-theme.menu-vertical .menu-item.active>.menu-link:not(.menu-toggle) {
    background: linear-gradient(72.47deg, #6EC5F6 22.16%, rgb(110, 197, 246, 0.7) 76.47%);
    box-shadow: 0px 2px 6px 0px rgb(110, 197, 246, 0.7);
    color: #fff !important;
}